<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8" />
        <title>Escrutinio</title>
         <link rel="stylesheet" href="css/escrutinio.css">

        <script src="js/jquery.min.js" type="application/javascript"></script>
        <script src="js/handlebars.js" ></script>
        <script src="js/zaguan.js" ></script>
        <script src="js/chancleta.js" ></script>
        <script src="js/patio.js" ></script>
        <script src="js/eventos.js" ></script>

        <script src="js/helpers.js" ></script>
        <script src="js/popup.js" ></script>
        <script src="js/imagenes.js" ></script>
        <script src="js/teclado/layouts.js" ></script>
        <script src="js/teclado/base.js" ></script>
        <script src="js/teclado/tiles.js" ></script>

        <script src="js/escrutinio/ipc.js" ></script>
        <script src="js/escrutinio/base.js" ></script>
        <script src="js/escrutinio/local_controller.js" ></script>
        <script src="js/escrutinio/tabla.js" ></script>
        <script src="js/escrutinio/pantallas.js" ></script>
        <script src="js/escrutinio/mensajes.js" ></script>
        <script src="js/escrutinio/clasificacion.js" ></script>
        <script src="js/escrutinio/recuento.js" ></script>
        <script src="js/escrutinio/impresion.js" ></script>
        <script src="js/escrutinio/asistente.js" ></script>
        <script src="js/escrutinio/tiles.js" ></script>
    </head>
    <body data-vista="vista-boleta">
        <div id="contenedor">

            <div class="contenedor-izq">
                <div id="tabla"></div>
            </div>

            <div class="contenedor-der">
                <div id="encabezado"></div>

                <div id="contenedor_datos" class="contenedor-datos">
                </div>

                <div class="clear"></div>
                <div id="barra_acciones_recuento" class="barra-acciones-recuento">
                </div>
            </div>
        </div>
        <div class="boletabox">
        </div>
        <div class="qrbox">
            <img src="">
        </div>
        <div class="popup-box">
        </div>
      </body>
</html>
