<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="css/ingreso_datos.css">

        <script type="application/javascript" src="js/jquery.min.js"></script>
        <script src="js/handlebars.js" ></script>
        <script src="js/zaguan.js" ></script>
        <script src="js/patio.js" ></script>
        <script src="js/eventos.js" ></script>

        <script src="js/helpers.js" ></script>
        <script src="js/popup.js" ></script>
        <script src="js/teclado/base.js" ></script>
        <script src="js/teclado/layouts.js" ></script>
        <script src="js/teclado/tiles.js" ></script>

        <script src="js/ingreso_datos/ipc.js" ></script>
        <script src="js/ingreso_datos/show_hide.js" ></script>
        <script src="js/ingreso_datos/pantallas.js" ></script>
        <script src="js/ingreso_datos/funciones.js" ></script>
    </head>
    <body>
        <div id="contenedor">
            <div id="contenedor_izq" class="contenedor-completo">
                <div id="encabezado">
                </div>
                <div class="clear"></div>

                <div class="barra-titulo" style="display: none;">
                    <p id="_txt_bienvenido"></p>
                </div>
                <div id="pantalla_inicio" class="mensaje con-barra-opciones bienvenida" style="display:none">

                    <div class="img-votar"> <img src="img/logo_votar_grande.png"/></div>
                    <div class="tooltip flecha-der">
                        <p id="_txt_presente_credencial_acta"></p>
                    </div>

                </div>

                <div class="contenedor-datos" style="display: none;">
                </div>
            </div>
        </div>
        <div class="popup-box">
        </div>
    </body>
</html>
