<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="css/menu.css">
        <link rel="stylesheet" href="css/icons.css">

        <script type="application/javascript" src="js/jquery.min.js"></script>
        <script src="js/handlebars.js" ></script>
        <script src="js/zaguan.js" ></script>
        <script src="js/patio.js"></script>
        <script src="js/menu.js"></script>
        <script src="js/eventos.js"></script>

        <script src="js/helpers.js" ></script>
        <script src="js/popup.js" ></script>
        <script src="js/menu/ipc.js" ></script>
        <script src="js/menu/funciones.js" ></script>
        <script src="js/menu/show_hide.js" ></script>
        <script src="js/menu/tiles.js" ></script>
    </head>
    <body>
        <div id="contenedor">
          <div id="contenedor_izq" class="contenedor-completo">
            <div id="encabezado" class="contenedor-completo"></div>
            <div class="clear"></div>

            <div class="barra-titulo" style="display: none;"></div>

            <div id="pantallas"></div>
            <div class="clear"></div>
          </div>
        </div>
        <div class="popup-box">
        </div>
    </body>
</html>
