<div class="columna columna-{{numero_cols}}">
        {{#ubicaciones}}
            <div class="btn {{#display_ext}}extranjera{{/display_ext}}">
                <div class="text">
                    {{#if departamento}}<span class="departamento">{{departamento}} </span> - {{/if}}<span class="municipio"><strong>{{municipio}}</strong></span>
                    {{#if extranjera}}
                    <span class="extranjera">(Extranjera)</span>
                    {{/if}}
                </div>
                <div class="botones">
                    <div class="demo" id="demo_{{nro_mesa}}">
                        <i class="material-icons boton-accion">&#xE417;</i>
                    </div>
                    <div class="asistida" id="asistida_{{nro_mesa}}">
                        <i class="material-icons boton-accion">&#xE310;</i>
                    </div>
                    {{#mostrar_boton_impresion}}
                        <div class="imprimir" id="imprimir_{{nro_mesa}}">
                            <i class="material-icons boton-accion">&#xE8AD;</i>
                        </div>
                    {{/mostrar_boton_impresion}}
                </div>
                <div class="clear"></div>
            </div>
        {{/ubicaciones}}
</div>
