<div id="keyboard">
    <div id="keyboard-qwerty" class="keyboard porcion-inferior"></div>
    <div id="keyboard-alpha" class="keyboard porcion-inferior" style="display:none"></div>
    <div id="keyboard-docs" class="keyboard porcion-inferior" style="display:none"></div>
    <div id="keyboard-num" class="keyboard porcion-inferior" style="display:none"></div>
</div>
<div class="placeholder-confirma" style="display:none">
    <div id="confirma-box" class="porcion-inferior">
        <div class="mensaje-confirma">
            <p id="_txt_confirma_datos_correctos"></p>
        </div>
        <div class="clear"></div>
        <div class="acciones">
            <div id="_txt_cancelar" class="action-button btn-cancelar"></div><div id="_txt_confirmar" class="action-button btn-aceptar"></div>
        </div>
    </div>
</div>
