<!-- muesca -->
<rect fill="#ff0000" width="50" height="50" x="785" y="520" />
<!-- margenes -->
<line x1="10" y1="0" x2="10" y2="{{medidas.height}}" style="stroke:#ff0000;stroke-width:1"/>
<line x1="785" y1="470" x2="785" y2="{{medidas.height}}" style="stroke:#ff0000;stroke-width:1"/>
<!-- centro area texto -->
<line x1="390" y1="470" x2="390" y2="{{medidas.height}}" style="stroke:#00ff00;stroke-width:1"/>
<!-- fin encabezado -->
<line x1="0" y1="470" x2="{{medidas.width}}" y2="470" style="stroke:#00ff00;stroke-width:1"/>

<!-- margen qr -->
<line x1="410" y1="0" x2="410" y2="470" style="stroke:#ff0000;stroke-width:1"/>

<line x1="0" y1="{{medidas.height - 1}}" x2="{{medidas.width}}" y2="{{medidas.height - 1}}" style="stroke:#000000;stroke-width:2"/>
