<div class="contenedor-votado max-{{total_candidatos}}" id="candidato_{{candidato.codigo}}" cod_lista="{{candidato.codigo}}">
  <div class="candidato {{#if es_blanco}}blanco{{/if}} {{#if consulta_popular}}consulta_popular{{/if}}">
        <div class="nombre-cargo-recuento">{{categoria.nombre}}</div>
        {{#unless no_muestra_lista}}
            <div class="lista">
                <p class="palabra-lista">{{palabra_lista}}</p>
                <p class="numero-lista">{{candidato.lista.numero}}</p>
            </div>
        {{/unless}}
        {{#if muestra_foto}}
            <div class="foto-candidato">
                <img src="{{img_path}}{{#if es_blanco}}BLC.svg{{else}}{{candidato.imagenes.[0]}}.jpg{{/if}}" />
            </div>
        {{/if}}
        {{#unless no_muestra_lista}}
            <div class="foto-partido">
                <img src="{{img_path}}{{candidato.lista.imagenes.[0]}}.jpg" />
            </div>
            <div class="nombre-alianza">{{candidato.alianza.nombre}}</div>
            <div class="nombre-partido">{{candidato.lista.nombre}}</div>
        {{/unless}}
        {{#if consulta_popular}}
        <div class="candidato-principal" style="color:{{candidato.lista.color.[0]}}">{{candidato.nombre}}</div>
        {{else}}
        <div class="candidato-principal">{{candidato.nombre}}</div>
        {{/if}}
        <div class="candidato-secundario"> {{secundarios}} </div>
        <div class="candidato-secundario">
            {{#candidato.categorias_hijas}}
                {{2.nombre}}: {{1.nombre}}
                {{#1.secundarios}}
                    {{this}}{{#unless @last}};{{/unless}}
                {{/1.secundarios}}
            {{/candidato.categorias_hijas}}
        </div>
    </div>
    <div class="pie-candidato">
        <div class="numero-votos">Votos: {{votos}}</div>
        <div class="colores" style="background:{{colores}};">&nbsp;</div>
    </div>
</div>
