<div id="pantalla_boleta_repetida" style="display:none;">
    <div class="mensaje pantalla medio duplicada">
        <div class="contenedor_texto">
            <h1 id="_txt_boleta_repetida" class="texto-recuento"></h1>
            <h1 id="_txt_acta_repetida" class="texto-totalizador"></h1>
            <h2 id="_txt_continuar_recuento" class="texto-recuento"></h2>
            <h2 id="_txt_continuar_totalizacion" class="texto-totalizador"></h2>
        </div>
    </div>
    <div id="boleta">
    </div>
</div>
