 Ciudad de Buenos Aires a los cinco días del mes de julio del dos mil quince, siendo las {{horas}}:{{minutos}} horas se clausura el acceso al local de votación y se procede de inmediato al escrutinio (arts. 100 y 101 del Código Electoral). En el acto de clausura y en presencia al momento del escrutinio {{texto_suplentes}} los Fiscales de las Agrupaciones Políticas acreditados ante la mesa de votación quienes firman al pie. El presidente de Mesa {{texto_presidente}}, procede a la clausura de los comicios de la {{mesa}} de la {{comuna}}.
