A los veintiseis (26) días de enero de dos mil quince siendo las {{horas}}:{{minutos}} horas, en virtud de la convocatoria dispuesta por el Poder Ejecutivo Provincial por Resolución Nº 1337/12 y en presencia {{texto_suplentes}} y de los Fiscales de los Partidos Políticos quienes firman al pie. El suscripto Presidente del comicio {{texto_presidente}}  declara abierto el acto en la {{mesa}} del {{departamento}} ubicada en {{escuela}}
