A los veintiseis (26) días de enero de dos mil quince siendo las {{horas}}:{{minutos}} horas, en presencia {{texto_suplentes}} y de los Fiscales de los Partidos Políticos junto con el presidente del comicio {{texto_presidente}}, se procede a la clausura del COMICIO de la {{mesa}} del {{departamento}} en acto continuo, conforme lo establecen los Art. 94, 95 y 96 de la Ley Nº 4.169.-
