En la Ciudad de Buenos Aires a los cinco días del mes de julio del dos mil quince, siendo las {{horas}}:{{minutos}} horas y en presencia {{texto_suplentes}} los Fiscales de las Agrupaciones Políticas quienes firman al pie, el Presidente de Mesa {{texto_presidente}} declara abierto el acto en la {{mesa}} de la {{comuna}} ubicada en {{escuela}}.
