<div id="{{id_boton}}" class="candidato candidato-lista-completa boton-lista {{seleccionado}}">
    {{#if lista.numero}}
        <div class="lista">
            <p class="palabra-lista">{{i18n "palabra_lista"}}</p>
            <p class="numero-lista">{{lista.numero}}</p>
        </div>
    {{/if}}
    <div class="foto-candidato">
        {{imagen_candidatura lista.imagenes.[0]}}
    </div>

    {{#if lista.partido.imagen[0]}}
      <div class="foto-partido">
          {{imagen_candidatura lista.partido.imagenes.[0]}}
      </div>
    {{/if}}
    <div class="clear"></div>
    <div class="nombre-partido">{{lista.nombre}}</div>
    {{^normal}}
        <div>{{lista.categoria}}</div>
    {{/normal}}
</div>
