<div class="candidato {{#if blanco}}blanco{{/if}} {{#if es_consulta}}consulta_popular{{/if}}" id="{{id_boton}}">
    {{#unless es_consulta}}
        <div class="nombre-partido">{{candidato.lista.nombre}}</div>
    {{/unless}}
    {{#unless es_consulta}}
        {{#unless blanco}}
            <div class="lista">
                <p class="palabra-lista">{{i18n "palabra_lista"}}</p>
                <p class="numero-lista">{{candidato.lista.numero}}</p>
            </div>
        {{/unless}}
        {{#unless blanco}}
            <div class="foto-partido">
                {{imagen_candidatura candidato.lista.imagenes.[0]}}
            </div>
        {{/unless}}
        {{colores candidato.lista.color}}
    {{/unless}}
</div>
