<div class="candidato {{seleccionado}}" id="{{id_boton}}">
    <div class="nombre-cargo">{{categoria.nombre}}</div>
    <div class="lista">
        <p class="palabra-lista">{{palabra_lista}}</p>
        <p class="numero-lista">{{candidato.lista.numero}}</p>
    </div>
    <div class="foto-candidato">
        {{imagen_candidatura candidato.imagenes.[0]}}
    </div>
    <div class="foto-partido">
        {{imagen_candidatura candidato.lista.imagenes.[0]}}
    </div>
    <div class="candidato-principal">{{candidato.nombre}}</div>
    <div class="candidato-secundario"> {{{secundarios}}}</div>
    <div class="nombre-partido">{{candidato.lista.nombre}}</div>
</div>
