<div class="slide slide-1">
    <div class="encabezado">
        <p id="_txt_asegurese_firmar_acta" class="titulo">
        </p>
        <p id="_txt_el_suplente_acercara" class="titulo">
        </p>
    </div>
</div>
<div class="slide slide-2">
    <div class="encabezado">
        <p id="_txt_usted_puede_imprimir" class="titulo">
        </p>
    </div>
</div>
<div class="slide slide-3">
    <div class="encabezado">
        <p id="_txt_fiscales_qr" class="titulo"></p>
    </div>
    <img id="img_qr2" src="" />
</div>

<div class="slide slide-4">
    <div class="encabezado">
        <p id="_txt_introduzca_certificado_boletas" class="titulo">
        </p>
    </div>
    <div class="contenido">
        <div class="bullet">
            <p id="_txt_slide_2_bullet_1">
            </p>
        </div>
        <div class="bullet">
            <p id="_txt_slide_2_bullet_2">
            </p>
        </div>
        <div class="bullet">
            <p id="_txt_slide_2_bullet_3">
            </p>
        </div>
    </div>
</div>

<div class="slide slide-5">
    <div class="encabezado">
        <p id="_txt_introduzca_sobre_actas" class="titulo">
        </p>
    </div>
    <div class="contenido">
        <div class="bullet">
            <p id="_txt_slide_3_bullet_1">
            </p>
        </div>
        <div class="bullet">
            <p id="_txt_slide_3_bullet_2">
            </p>
        </div>
        <div class="bullet">
            <p id="_txt_slide_3_bullet_3">
            </p>
        </div>
        <div class="bullet">
            <p id="_txt_slide_3_bullet_4">
            </p>
        </div>
        <div class="bullet">
            <p id="_txt_slide_3_bullet_5">
            </p>
        </div>
    </div>
</div>
