<div class="imprimiendo-recuento">
    <div id="acta" class="contenedor-blanco" style="display:none;">
        <div class="encabezado">
            <p id="_txt_presione_imprimir" class="titulo">
            </p>
        </div>

        <div id="img_acta"></div>

        <div class="scroll-acta">
            <div style="height:90%">
                <div class="desplazar-acta" style="display:none;">
                    <img src="img/btn_scroll_up.png">
                </div>
            </div>
            <div class="desplazar-acta">
                <img src="img/btn_scroll_down.png">
            </div>
        </div>
    </div>

    <div class="slides-impresion">
    </div>
</div>
