<div class="btn-anterior flecha">
    <img src="img/instructivo/btn_prev_slide.png" class="img-central">
</div>
<div id="instructivo" class="contenedor-central">

    <div class="slide slide-1">
        <p id="_txt_bienvenida_recuento" class="titulo">
        </p>
        <div class="contenido">
            <img src="img/instructivo/logo_votar_flecha.png">
            <p class="texto-logo _txt_boleta_unica_electronica"></p>
            <div id="btn_iniciar" class="btn-iniciar">
                <p id="_txt_iniciar_instructivo"></p>
            </div>
        </div>
    </div>

    <div class="slide slide-2">
        <div class="encabezado">
            <p id="_txt_slide_2_titulo" class="titulo">
            </p>
        </div>
        <div class="contenido">
            <div class="recuadro-mediano">
                <p id="_txt_slide_2_contenido">
                </p>
            </div>
        </div>
    </div>

    <div class="slide slide-3">
        <div class="encabezado">
            <p class="titulo _txt_caracteristicas_pantalla">
            </p>
            <span id="_txt_slide_3_subtitulo" class="subtitulo">
            </span>
        </div>
        <div class="contenido">
            <div class="recuadro-chico">
                <span id="_txt_slide_3_recuadro_1"></span>
            </div>
            <div class="recuadro-chico">
                <span id="_txt_slide_3_recuadro_2"></span>
            </div>
            <div class="recuadro-chico">
                <span id="_txt_slide_3_recuadro_3"></span>
            </div>
        </div>
    </div>

    <div class="slide slide-4">
        <div class="encabezado">
            <p class="titulo _txt_caracteristicas_pantalla">
            </p>
            <span id="_txt_slide_4_subtitulo" class="subtitulo"></span>
        </div>
        <div class="contenido">
            <div class="recuadro-chico">
                <span id="_txt_slide_4_recuadro_1"></span>
            </div>
        </div>
    </div>

    <div class="slide slide-5">
        <div class="encabezado">
            <p class="titulo _txt_caracteristicas_pantalla">
            </p>
            <span id="_txt_slide_5_subtitulo" class="subtitulo"></span>
        </div>
        <div class="contenido">
            <div class="recuadro-chico">
                <span id="_txt_slide_5_recuadro_1"></span>
            </div>
        </div>
    </div>

    <div class="slide slide-6">
        <div class="encabezado">
            <p id="_txt_slide_6_titulo" class="titulo">
            </p>
        </div>
        <span id="_txt_slide_6_subtitulo"></span>
        <div class="sensor">
            <img src="img/instructivo/sensor.png">
        </div>
        <div id="btn_finalizar" class="btn-iniciar">
            <p id="_txt_finalizar_instructivo">
            </p>
        </div>
        <div class="flecha-logo">
            <img src="img/instructivo/logo_votar_flecha.png">
            <p class="texto-logo _txt_boleta_unica_electronica"></p>
        </div>
    </div>
</div>
<div class="btn-siguiente flecha">
    <img src="img/instructivo/btn_next_slide.png" class="img-central">
</div>
