<div id="insercion_recuento" class="mensaje-cierre mensaje-svg">
    <div class="encabezado">
        <p id="_txt_introduzca_acta_cierre_nuevamente" class="titulo"></p>
    </div>
    <div class="imagen"></div>
</div>
<div id="insercion_transmision" class="mensaje-cierre mensaje-svg">
    <div class="encabezado">
        <p id="_txt_introduzca_acta_transmision" class="titulo"></p>
    </div>
    <div class="imagen"></div>
</div>
<div id="insercion_escrutinio" class="mensaje-cierre mensaje-svg">
    <div class="encabezado">
        <p id="_txt_introduzca_cerfificado_escrutinio" class="titulo"></p>
    </div>
    <div class="imagen"></div>
</div>
<div id="insercion_copia_fiel" class="mensaje-cierre mensaje-svg">
    <div class="encabezado">
        <p id="_txt_introduzca_cerfificado_escrutinio" class="titulo"></p>
    </div>
    <div class="imagen"></div>
</div>
<div id="insercion_certificado" class="mensaje-cierre mensaje-svg">
    <div class="encabezado">
        <p id="_txt_introduzca_cerfificado_escrutinio" class="titulo"></p>
    </div>
    <div class="imagen"></div>
</div>
