<div id="pantalla_mesaypin" class="ingreso">
    <div class="mesaypin">
        <label id="_txt_ingrese_numero_mesa"></label>
        <input type="text" class="nro_mesa" name="nro_mesa" {{#af_mesa}}autofocus{{/af_mesa}} pattern="{{pattern_mesa}}"
        value="{{mesa}}" data-keyboard="qwerty" />
        <label id="_txt_ingrese_numero_pin"></label>
        <input type="text" class="nro_pin" name="nro_pin_1" {{#af_pin}}autofocus{{/af_pin}} pattern="{{pattern_pin}}" maxlength=3 data-keyboard="qwerty" />
        <span class="guion">-</span>
        <input type="text" class="nro_pin" maxlength=3 name="nro_pin_2" pattern="{{pattern_pin}}" data-keyboard="qwerty" />
        <span class="guion">-</span>
        <input type="text" class="nro_pin" maxlength=3 name="nro_pin_3" pattern="{{pattern_pin}}" data-keyboard="qwerty" />
        <div class="clear"></div>
    </div>
    {{#if mostrar_tooltip}}
        <div class="tooltip">
            <div class="contenido_tooltip">
                {{#if mostrar_imagen}}
                <div id="svg_apertura"></div>
                <p id="_txt_acerque_acta_apertura"></p>
                {{else}}
                <div id="svg_cierre"></div>
                <p class="texto-chico" id="_txt_acerque_acta_cierre"></p>
                {{/if}}
            </div>
        </div>
    {{/if}}
    {{> teclado}}
</div>
