<html lang="en-US">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <script src="js/jquery-2.0.3.min.js"></script>
        <script src="js/zaguan.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/mustache.min.js"></script>
        <script src="js/transmision/templates.js"></script>
        <script src="js/transmision/funciones.js"></script>
        <script src="js/transmision/hide_show.js"></script>
        <script src="js/transmision/interaccion.js"></script>
        <script src="js/transmision/pantallas.js"></script>
        <script src="js/transmision/transmision.js"></script>
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css" />
        <link rel="stylesheet" type="text/css" href="css/transmision.css" />
        <link rel="stylesheet" type="text/css" href="css/spinner.css" />
    </head>
    <body>
    <div class="container">
        <div class="row">
            <div>
                <nav class="navbar navbar-default col-md-12" id="navbar-top" role="navigation">
                <div class="navbar-left">
                    <img src="img/logo_votar.png" class="navbar-brand"  />
                    <button type="button" class="btn btn-default navbar-btn btn-lg" id="btn_conectar"><span class="glyphicon glyphicon-log-in"></span><br />Conectar</button>
                    <button type="button" class="btn btn-default navbar-btn btn-lg" id="btn_desconectar" style="display: none;"><span class="glyphicon glyphicon-log-in"></span><br />Desconectar</button>
                    <button type="button" class="btn btn-default navbar-btn btn-lg" id="btn_preferencias"><span class="glyphicon glyphicon-wrench"></span><br />Preferencias</button>
                    <button type="button" class="btn btn-default navbar-btn btn-lg" id="btn_configurar_red"><span class="glyphicon glyphicon-transfer"></span><br />Configurar Red</button>
                    <button type="button" class="btn btn-default navbar-btn btn-lg" id="btn_importar"><span class="glyphicon glyphicon-folder-open"></span><br />Importar</button>
                    <button type="button" class="btn btn-default navbar-btn btn-lg" id="btn_descargar"><span class="glyphicon glyphicon-download-alt"></span><br />Descargar</button>
                    <button type="button" class="btn btn-default navbar-btn btn-lg" id="btn_status"><span class="glyphicon glyphicon-globe"></span><br />Estado</button>
                    <button type="button" class="btn btn-default navbar-btn btn-lg" id="btn_diagnostico" style="display: none;"><span class="glyphicon glyphicon-search"></span><br />Diagnostico</button>
                    <button type="button" class="btn btn-default navbar-btn btn-lg" id="btn_aplicaciones"><span class="glyphicon glyphicon-asterisk"></span><br />Aplicaciones</button>
                </div>
                <div class="navbar-right">
                    <button type="button" class="btn btn-default navbar-btn btn-lg" id="btn_salir"><span class="glyphicon glyphicon-off"></span><br />Salir</button>
                </div>
            </div>
        </div>
        <div class="row contenido">
            <div id="contenedor_izquierdo" class="col-md-9">
                <div id="mensaje" class="alert"></div>
                <div id="contenedor_tab_imagenes"></div>
                <div id="contenedor_imagen_acta">
                    <!--<div id="imagen_acta"></div>-->
                </div>
                <div id="confirmacion" class="btn-group btn-group-justified" style="display:none">
                    <a class="btn btn-danger" id="btn_no">NO</a>
                    <a class="btn btn-success" id="btn_si">SI</a>
                </div>
                <div id="botonera" class="btn-group btn-group-justified" style="display:none">
                </div>
            </div>
            <div id="contenedor_derecho" class="col-md-3" style="display:none;">
                <div  class="page-header"><h1><small id="planillas_pendientes"></small></h1></div>
                <div id="estado_mesas"></div>
            </div>
        <div class="spinner center-block">
            <div class="spinner-container container1">
                <div class="circle1"></div>
                <div class="circle2"></div>
                <div class="circle3"></div>
                <div class="circle4"></div>
            </div>
            <div class="spinner-container container2">
                <div class="circle1"></div>
                <div class="circle2"></div>
                <div class="circle3"></div>
                <div class="circle4"></div>
            </div>
            <div class="spinner-container container3">
                <div class="circle1"></div>
                <div class="circle2"></div>
                <div class="circle3"></div>
                <div class="circle4"></div>
            </div>
        </div>
        </div>
        <div class="row">
            <nav class="navbar navbar-default navbar-fixed-bottom">
                <div id="status"><span class="status-conexion"></span><span class="pull-right status-ultima_conexion"></span><span class="status-lector"></span></div>
            </nav>
        </div>
    </div>
    </body>
</html>
