<text x="{{troquel.0}}" y="{{troquel.1}}" transform="rotate(270 110, 0)" style="font-size:{{troquel.3}}px;">{{troquel.2}}</text> 
<text x="{{sub_troquel.0}}" y="{{sub_troquel.1}}" transform="rotate(270 110, 0)" style="font-size:{{sub_troquel.3}}px;">{{sub_troquel.2}}</text> 
