<image x="{{verificador.0}}" y="{{verificador.1}}" width="{{verificador.3}}" height="{{verificador.4}}" xlink:href="{{verificador.2}}"/>
<text x="{{verificador.0 + 175}}" y="{{verificador.1 + 85}}" width="200" style="font-size:{{titulo.3}}px;">{{verificador.5}}</text>
<text x="{{verificador.0 + 190}}" y="{{verificador.1 + 117}}" width="200" style="font-size:{{titulo.3}}px;">{{verificador.6}}</text>
