<div id="pantalla_confirmaciondatos" class="mensaje">
    <div class="texto-confirmacion">{{mensaje}}</div>
    <div class="clear"></div>
    <div class="acciones" id="acciones">
        <div id="_txt_cancelar" class="action-button cancelar"></div><div id="_txt_confirmar" class="action-button aceptar"></div>
    </div>
    <div class="acciones" id="imprimiendo" style="display:none">
        <h1 class="texto-imprimiendo" id="_txt_mensaje_imprimiendo"></h1>
    </div>
    <div class="acciones" id="otra_acta" style="display:none">
        <h1 class="texto-imprimiendo" id="_txt_introduzca_otra_apertura"></h1>
    </div>
</div>
