A los once (11) días de diciembre de dos mil dieciséis siendo las {{horas}}:{{minutos}} horas, en virtud de la convocatoria dispuesta por el Poder Ejecutivo Municipal por Decreto N° 825/2016 y en presencia {{texto_suplentes}} de los Fiscales de los Partidos Políticos quienes firman al pie, el suscripto Presidente del comicio {{texto_presidente}} declara abierto el acto en la Mesa {{mesa}} del Departamento Santa Rosa ubicada en {{escuela}}.-
