A los once (11) días de diciembre de dos mil dieciséis siendo las {{horas}}:{{minutos}} horas, en presencia {{texto_suplentes}} de los Fiscales de los Partidos Políticos junto con el Presidente del Comicio {{texto_presidente}}, se procede a la clausura del Comicio de la Mesa {{mesa}} del Departamento Santa Rosa en acto continuo, conforme lo establecen los Art. 46, 47, 48 y 49 de la Ley Nº 2.551.-
