/* Styled Checkbox, stolen from:
 * http://codepen.io/Topcoat/pen/piHcs
 */

input[type=checkbox] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 2rem;
  margin: 0 -2rem -2rem 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 2rem;
  opacity: 0.001;
}

.checkbox {
  position: relative;
  display: inline-block;
  line-height: 2rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox__checkmark {
  display: inline-block;
  vertical-align: top;
  width: 2rem;
  height: 2rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Background */
.checkbox__checkmark:before {
  content: '';
  position: absolute;
  box-sizing: border-box;
  width: 2rem;
  height: 2rem;
  background: #e5e9e9;
  border: 1px solid #a5a8a8;
  border-radius: 3px;
  cursor: pointer;
  -webkit-box-shadow: inset 0 1px #fff;
  box-shadow: inset 0 1px #fff;
}

/* Checkmark */
.checkbox__checkmark:after {
  opacity: 0;
  content: '';
  position: absolute;
  /* Length of check tail */
  width: 26px;
  /* Lenght of check foot */
  height: 11px;
  background: transparent;
  border: 6px solid #666666;
  border-top: none;
  border-right: none;
  border-radius: 2px;

  -webkit-transform: rotate(-50deg) translate(3px, -3px);;
  -moz-transform: rotate(-50deg) translate(3px, -3px);;
  -o-transform: rotate(-50deg) translate(3px, -3px);;
  -ms-transform: rotate(-50deg) translate(3px, -3px);;
  transform: rotate(-50deg) translate(3px, -3px);
}

:checked + .checkbox__checkmark:after {
  opacity: 1;
}

:focus + .checkbox__checkmark:before {
  border: 1px solid #0940fd;
  -webkit-box-shadow: 0 0 0 2px #6fb5f1;
  box-shadow: 0 0 0 2px #6fb5f1;
}

:disabled + .checkbox__checkmark:before {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}
