<div id="logo_eleccion">
    <img class="logo-eleccion imagen-alto-contraste" src="img/logo_eleccion_alto_contraste.png" />
    <img class="logo-eleccion" src="img/logo_eleccion.png" />
</div>
<p id="datos_eleccion">
    <b id="_txt_titulo"></b> <br>
    <span id="_txt_fecha"></span><br>
    <span id="_txt_entidad"></span><br>
</p>
{{#voto}}
    <div id="contenedor_solapa"></div>
{{/voto}}
{{#escrutinio}}
    <span id="_txt_escrutinio_mesa" class="titulo-escrutinio">
    </span>
{{/escrutinio}}
{{#mesa}}
    <span class="num-mesa" id="numero_mesa"></span>
{{/mesa}}
<div id="logo_votar">
    <img class="logo-votar imagen-alto-contraste" src="img/logo_votar_blanco.png" />
    <img class="logo-votar" src="img/logo_votar.png" />
</div>

<div class="cinta-capacitacion">
    <ul class="cinta"><span id="_txt_cinta_capacitacion"></span></ul>
</div>
