<div class="contenedor-votado" id="{{id_contenedor}}" cod_lista="{{lista_codigo}}">
    <div class="candidato {{blanco}}">
        <div class="nombre-cargo-recuento">{{nombre_cargo}}</div>
        <div class="lista">
            <p class="palabra-lista">{{palabra_lista}}</p>
            <p class="numero-lista">{{lista_numero}}</p>
        </div>
        <div class="foto-candidato"> <img src="{{path_imagen_candidato}}" /> </div>
        <div class="foto-partido"> <img src="{{path_imagen_partido}}" /> </div>
        <div class="nombre-partido">{{partido_nombre}}</div>
        <div class="candidato-principal">{{candidato_nombre}}</div>
        <div class="candidato-secundario">{{candidato_secundario}}</div>
    </div>
</div>