<div class="candidato {{seleccionado}}" id="{{id_cat}}">
    <div class="nombre-cargo">{{categoria.nombre}}</div>
    <div class="lista">
        <p class="palabra-lista">{{palabra_lista}}</p>
        <p class="numero-lista">{{candidato.lista.numero}}</p>
    </div>
    <div class="foto-candidato">
        <img src="{{path_imagen_candidato}}" />
    </div>
    <div class="foto-partido">
        <img src="{{path_imagen_partido}}" />
    </div>
    <div class="candidato-principal">{{nombre}}</div>
    <div class="candidato-secundario">
      {{#candidato.secundarios}}
        {{nombre}};
      {{/candidato.secundarios}}
    </div>
    <div class="nombre-partido">{{candidato.lista.nombre}}</div>
</div>
