<div id="pantalla_agradecimiento" class="mensaje sin-barra-opciones pantalla" style="display:none;">
    <h1 id="_txt_imprimiendo_voto" class="texto-grande"></h1>
    <h2 id="_txt_aguarde_unos_minutos" class="texto-mediano"></h2>
    <div id="img_previsualizacion"></div>
    <div class="pie-mensaje"><p id="_txt_no_retirar_boleta"></p></div>
</div>
<div id="pantalla_consulta" class="mensaje sin-barra-opciones pantalla" style="display:none;">
  <h2 id="_txt_este_es_su_voto" class="texto-mediano"></h2>
  <h2 id="_txt_verificando_voto" class="texto-mediano asistida" style="display:none;"></h2>
  <div id="img_voto"></div>
</div>
