<div id="opciones_tipo_voto" class="pantalla" style="display:none">
    <div class="barra-titulo"><p id="_txt_conformar_voto"></p></div>
    <div class="opcion-tipo-voto votar-por-categoria" id="modo-BTN_CATEG">
        <img src="img/votar_por_categoria.png"/>
        <p id="_txt_votar_por_categorias"></p>
    </div>
    <div class="opcion-tipo-voto votar-lista-completa" id="modo-BTN_COMPLETA">
        <img src="img/votar_lista_completa.png"/>
        <p id="_txt_votar_lista_completa"></p>
    </div>
</div>
