<div id="botonera">
    <div id="seccion_izquierda" class="columna max3">
        <div id="btn_asistida" class="boton-menu boton-tercio" style="display:none">
            <i class="material-icons">&#xE310;</i>
            <p id="_txt_votacion_asistida"></p>
        </div>

        <div id="btn_sufragio" class="boton-menu boton-central">
            <object class="material-icons icono-sufragio" id="icono_sufragio" type="image/svg+xml" data="img/menu/sufragio.svg"></object>
            <p id="_txt_sistema_boleta_electronica"></p>
        </div>
    </div>

    <div id="seccion_medio" class="columna max3">
        <div id="btn_totalizador" class="boton-menu boton-tercio" style="display:none">
            <i class="material-icons">&#xE89C;</i>
            <p id="_txt_totalizacion"></p>
        </div>
        <div id="btn_escrutinio" class="boton-menu boton-central">
            <i class="material-icons">&#xE8EF;</i>
            <p id="_txt_cierre_y_escrutinio"></p>
        </div>
    </div>

    <div id="seccion_derecha" class="columna max3">
        <div id="btn_inicio" class="boton-menu boton-derecho medio-boton">
            <i class="material-icons">&#xE879</i>
            <p id="_txt_salir"></p>
        </div>
        <div id="btn_apagar" class="boton-menu boton-derecho medio-boton">
            <i class="material-icons">&#xE8AC;</i>
            <p id="_txt_apagar"></p>
        </div>
        <div id="btn_capacitacion" class="boton-menu boton-derecho" style="display:none">
            <i class="material-icons">visibility</i>
            <p id="_txt_version_demo"></p>
        </div>
        <div id="btn_mantenimiento" class="boton-menu boton-derecho" style="display:none">
            <i class="material-icons">settings</i>
            <p id="_txt_mantenimiento"></p>
        </div>
    </div>
</div>
