<div class="candidato {{blanco}} {{consulta_popular}} {{#modificar}}modificable{{/modificar}}" id="{{id_boton}}" style="display:none">
    <div class="contenedor-candidato">
        <div class="nombre-cargo">{{categoria.nombre}}</div> 
        <div class="foto-candidato">
            <img src="{{path_imagen}}" />
        </div>
        <div class="foto-partido">
            <img src="{{path_imagen_agrupacion}}" />
        </div>
        {{&colores}}
        <div class="candidato-principal">{{candidato.nombre}}</div>
        <div class="candidato-secundario">
            {{#candidato.secundarios}}
            {{nombre}};
            {{/candidato.secundarios}}
        </div>
        <div class="nombre-partido">{{nombre_lista}}</div>
    </div>
    {{#modificar}}
    <div class="btn-modificar-voto"><p>Modificar</p></div>
    {{/modificar}}
</div>
