<div id="{{id_boton}}" class="candidato candidato-lista-completa boton-lista {{seleccionado}}">
    <div class="foto-candidato">
        <img src="{{imagenes_candidatos.0}}" />
    </div>

    {{#path_imagen_lista }}
    <div class="foto-partido">
        <img src="{{path_imagen_agrupacion}}" />
    </div>
    {{/path_imagen_lista }}
    <div class="clear"></div>
    <div class="nombre-partido">{{lista.nombre}}</div>
    {{^normal}}
    <div class="">{{lista.categoria}}</div>
    {{/normal}}
</div>
