<g transform="translate({{sec.posicion.0 + margen_izq}},{{sec.posicion.1}}){% if sec.rotar_bloque %} rotate({{sec.layout.giros_rotacion * 90}}){% endif %}">
    {% include "boletas/bloques/default/fondo.tmpl" %}
    {% include "boletas/bloques/default/titulo.tmpl" %}
    {% include "boletas/bloques/presupuesto/candidato.tmpl" %}
</g>
