<div class="popup boletabox">
    <div class="cerrar-popup"></div>
    <div class="mensaje-popup">
        <p class="aclaracion" id="_txt_tipo_de_boleta"></p>
    </div>
    <div class="boletas">
        <div id="boleta_1">
            <img src="img/mantenimiento/boleta_1.png">
            <p id="_txt_edicion_2013"></p>
        </div>
        <div id="boleta_2">
            <img src="img/mantenimiento/boleta_2.png">
            <p id="_txt_edicion_2015"></p>
        </div>
        <div id="boleta_0">
            <img src="img/mantenimiento/boleta_3.png">
            <p id="_txt_autodetectar"></p>
        </div>
    </div>
    <div class="clear"></div>
</div>
