<div class="popup calidadbox">
    <div class="cerrar-popup"></div>
    <div class="mensaje-popup">
        <p class="aclaracion" id="_txt_titulo_calidad_impresion"></p>
    </div>
    <div class="opciones opciones-quality">
        <div data-calidad="0" id="_txt_muy_baja"></div>
        <div data-calidad="1" id="_txt_baja"></div>
        <div data-calidad="2" id="_txt_media"></div>
        <div data-calidad="3" id="_txt_alta"></div>
        <div data-calidad="4" id="_txt_muy_alta"></div>
    </div>
</div>
